body{
  background-image: url("happy_children.jpg");
}

.nav {
  margin: 0px;
  background-color: rgba(255,255,255,0.5);
  font-size: 30pt;
  font-family: "Verdana";
  color: black;
  padding: 10px;
  text-align: left;
  display:block;
}

img#logo{
  position: relative;
  display: inline-flex;
  float: left;
  margin-left: 0px;
}

#avi{
  position: relative;
  top : -60px;
  left: 100px;
  float:right;
}

.user{
  position: relative;
  display: block;
  float:right;
}

.account-drop{
   display: none;
   position: relative;
   text-align: left;
   left: 160px;
   min-width: 140px;
   min-height: 100px;
   background-color: #f9f9f9;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.account-drop a{
  font-size : 20pt;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.user:hover .account-drop{
  display: inline-block;
}

.nav a{
  margin-left: 20px;
  color:white;
  text-decoration: none;
  font-style: bold;
  font-family: Verdana;
  padding: 10px;
}

#donate{
  text-align: right;
}

#name{
  float: right;
  position: relative;
  right: 100px;
}


#home:hover{
  background-color: #d5ae2b;
}

#forum:hover{
  background-color: #d5ae2b;
}

#events:hover{
  background-color: #d5ae2b;
}

#login:hover{
  background-color: #d5ae2b;
}

#donate:hover{
  background-color: #d5ae2b;
}

#games:hover{
  background-color: #d5ae2b;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
